<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951463977457-jokuer0bpmdkpthvo7oardibr7t61gko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951463977457-jokuer0bpmdkpthvo7oardibr7t61gko</string>
	<key>API_KEY</key>
	<string>AIzaSyCvSIEWYmTxGxY49iv9BE5SvvQG4RXpyYg</string>
	<key>GCM_SENDER_ID</key>
	<string>951463977457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareFood</string>
	<key>PROJECT_ID</key>
	<string>food-share-121720</string>
	<key>STORAGE_BUCKET</key>
	<string>food-share-121720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951463977457:ios:e667245d16c92a9f0b2450</string>
</dict>
</plist>